.collection-div {

    border: 0px;
    background-color: rgb(255, 255, 255);
    display: grid;
    align-items: center;
     /* grid-template-columns: repeat(auto-fill, minmax(190px, 1fr)); */
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
    grid-auto-rows: 350px;
    /* position: relative;  */

}

.category-title {
    font-size: 30px;
    font-family: Montserrat;
    color: rgb(55, 95, 31);
    align-self: center;
    padding-bottom: 4%;
    padding-top: 1%;
    background-color: rgb(255, 255, 255);
}

.item-title {
    font-family: Montserrat;
    color: rgb(55, 95, 31);
    text-align: center;
    padding-bottom: 3%;
    padding: 1px;
    /* margin: 1px; */
}

.item-div {

    /* padding: 1px 1px 1px 1px; */
    /* align-items: center; */
    /* display: flexbox; */
    
    margin: 5px;
    padding-top: 50px;
    /* margin-top: 50px; */
    margin-bottom: 15%;
    padding-bottom: 15%;
    /* padding-right: 1%; */
    

}

.image {
    object-fit: cover;
    width: 100%;
    margin: 0%;
    padding: 2px; 
    position: relative;
    border: 2px solid rgb(55, 95, 31);
 

    /* border-bottom-width: ; */
    vertical-align: -webkit-baseline-middle;
    /* margin-bottom: 2px; */
    /* margin-bottom: 10px; */


    /* height: 100%; */
    /* max-height: 100%; */
}

.price {
    text-align: center;
    font-size: 10px;
    margin: 2px;
    /* padding: 5px; */
}

.add-btn {
    margin-bottom: 5%;
    margin-left: 65px;
    padding-top: 3px;
    justify-items: center;
    border: 2px solid rgb(178, 212, 155);
    font-family: "Montserrat";
    border-radius: 2px;
    background-color: rgb(187, 212, 170);
}

.add-btn:hover {
    background-color:rgb(206, 223, 194);
    border: 2px solid rgb(206, 223, 194)
}

.add-btn:active{
    background-color:rgb(205, 241, 184);
    transform: translateY(1px);
}