

.items {
  background-color: rgb(255, 255, 255);
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); */
  /* grid-gap: 0 10px; */
  /* grid-auto-rows: 10px; */
  /* padding-bottom: 15px; */
  /* display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 10px;
  grid-auto-rows: 200px; */
}

.category-title {
  text-align: center;
  font-size: 16x;
  margin-bottom: 0%;
  margin-top: 0%;
}


