.home-page-image {
    background-color: rgb(255, 255, 255);
    /* justify-self: center; */
    margin-top: 0%;

    display: block;
    text-align: center;
    /* align-content: center; */
}

.test {
    margin-top: 0%;
}
