.form-input {
    width: 200px;
    padding: 8px 50px 10px 10px;
    margin: 8px 50px 10px 150px;
    box-sizing: border-box;
    border: 2px solid burlywood;
    font-size: 16px;
    font-family: 'Montserrat';

}
#signup-title {
    margin: 0px 20px 20px 66px;
    padding: 0px 30px 10px 85px;
    font-family: "Montserrat";
    color: rgb(29, 73, 3)
;}

.form-label {
    padding: 6px 30px 10px 0px;
    margin: 8px 4px 8px 150px;
    font-family: 'Montserrat';
}

.sign-up-form-div {
    float: left;
    width: 50%;
}

#submit-button {
    padding: 6px 10px 6px 10px;
    margin: 15px 20px 10px 150px;
    width: 90px;
    border: 2px solid burlywood;
    font-family: 'Montserrat';
    cursor: pointer;
}
#submit-button:hover {
    background-color:rgb(228, 241, 221)
}
#submit-button:active {
    background-color:rgb(205, 241, 184);
    transform: translateY(4px);
}

    /* .form-input:focus {
        background-color:rgb(181, 216, 177);
    } */