#checkout {
    /* margin-top: 100%; */
    margin-left: 37px;
    margin-bottom: 5%;
    /* border: none;
    background-color: white; */
    /* align-content: center; */
    position: relative;
    /* display: flex; */
}